/* GENERA */

:root {
    --bkgcolor: #BDD5EA;
    --dark: #495867;
    --medium: #577399;
    --light: #BDD5EA;
    --highlight: #FE5F55;
    --fntcolor: #F7F7FF;
    --fntfamily: Helvetica;
}












/* -- MEDIA QUERIES -- */
@media screen and (max-width: 992px) {
  header,
  main,
  nav
  img {
    flex-direction: column;
  }

  section,
  article {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
    }
    
  }

  @media screen and (max-width: 768px) {
    header,
    main
    nav {
      flex-direction: column;
    }
  
    section,
    article {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  }

  @media screen and (max-width: 600px) {
    header,
    main,
    nav {
      flex-direction: column;
      text-align: center;
    }

    section,
    article {
      padding-right: 0;
      text-align: center;
    }
      
    aside {
      width: 100%;
      text-align: center;
      align-content: center;
    }
    
  }








 










