:root {
    --bkgcolor: #BDD5EA;
    --dark: #495867;
    --medium: #577399;
    --light: #BDD5EA;
    --highlight: #FE5F55;
    --fntcolor: #F7F7FF;
    --fntfamily: Helvetica;
}

* {
    font-family: var(--fntfamily);
    color: var(--fntcolor);
    background-color: var(--bkgcolor);
}

h1 {
  font-size: 300%;
  text-align: left;
  margin-left: 10px;
  margin-top: 30px;
}

article {
  margin-left: 10px;
}

footer {
  text-align: center;
}

#contact {
  color: var(--highlight);

}

.contactnav,
 li {
  display: inline
  color: var(--highlight);

}

.about-me {
  color: var(--highlight);
  font-size: 75px;
  text-align: left;
  margin-left: 10px;
}

.about-me + article {
  padding-left: 20px;
}

.one {
  height: 300px;
  width: 300px;
  background: red;
  margin-bottom: 10px;
}

.two {
  height: 300px;
  width: 300px;
  background: yellow;
}

.three {
  height: 300px;
  width: 300px;
  background: teal;
  margin-bottom: 10px;
}

.four {
  height: 300px;
  width: 300px;
  background: purple;
}

.music {
  background-color: transparent;
  color: var(--fntcolor);
}

.dropdown {

}

.drpdwncontent {
  display: none;
  position: relative;
  background-color: transparent;
  min-width: none;
}


#navbar {
  display: block;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 15px;
}

#portfolio-me {
  color: var(--highlight);
  font-size: 75px;
  text-align: left;
  margin-left: 10px;
}

#card {
  display: flex;
  flex-flow: wrap;
  margin-left: 10%;
}

a:hover {
  color: var(--highlight);
}

button:hover{
  color: var(--highlight);
}


/* -- MEDIA QUERIES -- */

@media screen and (max-width: 992px) {
  header,
  main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
    }
    
  }

  @media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  }

  @media screen and (max-width: 600px) {
    header,
    main {
      flex-direction: column;
    }

    section {
      padding-right: 0;
    }

    aside {
      width: 100%;
      text-align: center;
    }
    
  }