:root {
    --bkgcolor: #BDD5EA;
    --dark: #495867;
    --medium: #577399;
    --light: #BDD5EA;
    --highlight: #FE5F55;
    --fntcolor: #F7F7FF;
    --fntfamily: Helvetica;
}

* {
    font-family: var(--fntfamily);
    color: var(--fntcolor);
    background-color: var(--bkgcolor);
}

h1 {
  font-size: 300%;
  text-align: left;
  margin-left: 10px;
  margin-top: 30px;
}

article {
  margin-left: 10px;
}

p {
  text-align: center;
}

.portfolio p {
  text-align: left;
  /* font-size: 90%; */
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

footer {
  text-align: center;
}

#contact {
  color: var(--highlight);
}

.contactnav,
 li {
  display: inline
  color: var(--highlight);

}

.portfolio {
  display: inline-block;
}

.about-me {
  color: var(--highlight);
  font-size: 75px;
  text-align: left;
  margin-left: 10px;
}

.about-me + article {
  padding-left: 20px;
}

.one {
  max-width: 300px;
  max-height: 300px;
  /* margin-bottom: 10px; */
}

.two {
  height: 300px;
  width: 300px;
}

.three {
  height: 300px;
  width: 300px;
  /* margin-bottom: 10px; */
}

.four {
  height: 300px;
  width: 300px;
}

.contact {
  padding: 10px;
  color: var(--highlight);
  font-weight: bolder;
}

#navbar {
  display: block;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 15px;
}

#portfolio-me {
  color: var(--highlight);
  font-size: 75px;
  text-align: left;
  margin-left: 10px;
}

#card {
  display: flex;
  flex-flow: wrap;
  margin-left: 10%;
}

a:hover {
  color: var(--highlight);
}

button:hover{
  color: var(--highlight);
}

/* -- MEDIA QUERIES -- */
@media screen and (max-width: 992px) {
  header,
  main,
  nav {
    flex-direction: column;
  }

  section,
  article {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
    }
    
  }

  @media screen and (max-width: 768px) {
    header,
    main
    nav {
      flex-direction: column;
    }
  
    section,
    article {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  }

  @media screen and (max-width: 600px) {
    header,
    main,
    nav {
      flex-direction: column;
      text-align: center;
    }

    section,
    article {
      padding-right: 0;
      text-align: center;
    }
      
    aside {
      width: 100%;
      text-align: center;
      align-content: center;
    }
    
  }